button {
  width: 20%;
  justify-content: center;
  display: flex;
}

.align-text {
  text-align: center;
}

mat-card-content {
  height: 50px;
  width: 100%;
  border-style: dashed;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 2px;
  border-color: lightgray;
  margin-top: 0.5em;
  padding-top: 1.5em;
  font-size: medium;
  text-align: center;
}
mat-card-header{
  display: table-row;
  font-weight: bold;
  text-align: center;
}

mat-card-title {
  font-size: 14px;
}
.date-detail {
  margin: 2px auto;
}

.winner {
  display: initial;
  color: #d85353;
}

.match-cards {
  margin-top: 1em;
  margin-left: 0.5em;
  width: 45%;
  display: inline-table;
}

@media screen and (max-width: 1330px){
  .match-cards {
    width: 42%;
    margin-left: 0.75em;
  }
  mat-card-header {
    font-size: large;
  }
}

@media screen and (max-width: 920px){
  button {
    width: 25%;
    justify-content: center;
    display: flex;
  }

  .match-cards {
    width: 42%;
    margin-left: 0.5em;
  }
  mat-card-header {
    font-size: medium;
  }
}

@media screen and (max-width: 720px){
  .match-cards {
    width: 35%;
    margin-left: 1em;
  }
  mat-card-header {
    font-size: medium;
  }
}
