<button
  mat-raised-button
  [matMenuTriggerFor]="menu"
  color="warn"
  [matMenuTriggerData]="seasons"
>
  {{ inputSeason }} Season
</button>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item (click)="setSeason(seasons[2])">
      {{ seasons[2] }}
    </button>
    <button mat-menu-item (click)="setSeason(seasons[1])">
      {{ seasons[1] }}
    </button>
    <button mat-menu-item (click)="setSeason(seasons[0])">
      {{ seasons[0] }}
    </button>
  </ng-template>
</mat-menu>

<div *ngIf="matches.length > 0">
  <mat-paginator
    [length]="length"
    [pageSize]="9"
    showFirstLastButtons
    (page)="OnPageChange($event)"
  >
  </mat-paginator>

  <mat-card
    *ngFor="let match of pagedMatches"
    class="match-cards"
    (click)="openDialog(match)"
  >
    <mat-card-header class="mat-title" [ngSwitch]="match.FullTimeResult">
      <div *ngSwitchCase="'H'">
        <div class="winner">{{ match.HomeTeam }}</div>
        vs {{ match.AwayTeam }}
      </div>
      <div *ngSwitchCase="'A'">
        {{ match.HomeTeam }} vs
        <div class="winner">{{ match.AwayTeam }}</div>
      </div>
      <div *ngSwitchCase="'D'">
        {{ match.HomeTeam }} vs {{ match.AwayTeam }}
      </div>
      <p class="mat-body-1 date-detail">
        {{ match.Date }}
      </p>
    </mat-card-header>
    <mat-card-content>
      <p class="mat-title">
        {{ match.FullTimeHomeGoals }} - {{ match.FullTimeAwayGoals }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
<p *ngIf="matches.length == 0" class="mat-subheading-2 align-text">
  Nothing to see here...
</p>
<!-- TODO: add pagination, 9 matches per page,
  find way to work around DataSource and instead still use for loop -->
