mat-toolbar {
  /* justify-content: center; */
  padding-left: 20%;
}

@media screen and (max-width: 920px){
  mat-toolbar {
    justify-content: center;
    padding-left: 0;
  }
}

@media screen and (max-width: 720px){
  /* mat-toolbar {
    justify-content: center;
    padding: 0;
  } */
}
