/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-grid-tile
.mat-figure {
  /* justify-content: flex-start !important ; */
  align-items: flex-start !important;
}

.mat-dialog-container {
  height: 30em !important;
  width: 50em !important;
}

.mat-tab-body-content {
  padding-bottom: 1em;
}
