.align-right{
  display: flex;
  justify-content: flex-end;
  margin-left: -25%;
}

.align-left{
  display: flex;
  justify-content: flex-start;
  margin-left: -25%;
}

mat-header-cell{
  font-weight: 900;
}

mat-menu {
  padding: 1rem auto;
}

mat-table{
  box-shadow: none;
}

button {
  width: 20%;
  justify-content: center;
  display: flex;
}

@media screen and (max-width: 920px){
  button {
    width: 25%;
    justify-content: center;
    display: flex;
  }
}

@media screen and (max-width: 720px){

}
