<div class="dashboard">
  <mat-tab-group mat-align-tabs="center" animationDuration="0ms" dynamicHeight>
    <mat-tab label="STANDINGS">
      <app-standings-table></app-standings-table>
    </mat-tab>
    <mat-tab label="MATCHES">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quidem sint culpa quasi voluptate numquam, nam ratione, alias, ut inventore repellat dolor similique in facilis nesciunt qui soluta provident eos.</mat-tab>
    <!-- <mat-tab label="Third"></mat-tab> -->
  </mat-tab-group>
</div>
